#fs-frm {
    background-image: url(../assets/jeremy-bishop-axCBZHXGQKo-unsplash.jpg);
    background-size: cover;
    font-weight: 300px;
    

}

.fifty{
    background-image: url(../assets/jeremy-bishop-axCBZHXGQKo-unsplash.jpg);
}

