.landing {
    background: url(../assets/oliver-pecker-HONJP8DyiSM-unsplash.jpg);
    background-size: cover;

}

.display-2{
    color: var(--white);
    font-weight: 900;
}

.lead {
    color: var(--white);
    font-weight: 700;
}

.myself{
    height: 450px;
    width: 350px;
    border: silver;
    border-radius: 3px;
    border-style: double;
    border-width: 6px;
}

.colts{
    height: 100px;
    width: 100px;
    border: silver;
    border-radius: 3px;
    border-style: double;
    border-width: 6px;
}

.pacers{
    height: 100px;
    width: 100px;
    border: silver;
    border-radius: 3px;
    border-style: double;
    border-width: 6px;
}

.reds{
    height: 100px;
    width: 150px;
    border: silver;
    border-radius: 3px;
    border-style: double;
    border-width: 6px;
}

